@model IEnumerable<Cart>



@{
    ViewData["Title"] = "Order";
}
@using (Html.BeginForm("SaveOrder", "Home"))
{
    @if (Model != null)
    {
        <h1>Order</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Sub Total</th>
                    <th></th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="60"><img src="~/imgs/@item.Pizza.Image" width="50" height="50" /> </td>
                        <td>@item.Pizza.Name</td>
                        <td>@item.Pizza.Price</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Pizza.Price * item.Quantity)</td>
                        <td><input type="button" name="Order" value="Remove" class="btn btn-danger" onclick=Removefromcart(@item.Pizza.PizzaID) /></td>


                    </tr>
                }
                <tr>
                    <td></td>
                    <td colspan="4"><h5>Total</h5></td>
                    <td >
                        <h5> @Model.Sum(x => x.Pizza.Price * x.Quantity)</h5>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">
                        <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Selection">Back To The Menu</a>
                    </td>
                    <td ><input type="submit" name="Confirm Order" value="Confirm Order" class="btn btn-success" /></td>
                </tr>
            </tbody>

        </table>
    }
    else
    {
        <h1>The cart is empty</h1>
        <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Selection">See The Menu</a>

    }

    <Script type="text/javascript">

        function Removefromcart(item) {
            var formData = new FormData();
            formData.append("pizzaID", item);

            $.ajax({
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '/Home/Remove',

            });
        }

    </Script>
}